.main-container {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.text-align {
  text-align: center;
}

.left-item-layout {
  margin: 0.5em;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-right {
  background-color: rgba(245, 245, 245, 0.686);
  margin: 0.5em;
}

.p-text {
  margin: 0.5em;
}
