.main-container {
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

.text-align {
  text-align: center;
}

.left-item-layout {
  margin: 0.5em;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-right {
  background-color: rgba(226, 226, 226, 0.686);
  margin: 0.5em;
  max-width: 400px;
}

.p-text {
  margin: 0.5em;
}

p.count {
  display: inline-block;
}

div.cart-btn {
  margin-left: 0.5em;
}
